@import "constants";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

.App {
  height: 93.9vh;
  width: 100vw;
}

.main-container {
  height: 100%;
  display: flex;
  padding: 5px;
}
