@import "constants";

.chat-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  padding: 10px;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  margin-left: 5px;
}

.chat-bar__header {
  display: flex;
  // background-color: $secondary-color;
  // color: $primary-color;
  // border-radius: 5px;
  // padding: 5px;
  // padding-left: 10px;
}

.history {
  padding: 10px;
  margin: 10px 0 10px;
  display: flex;
  flex-direction: column;
  flex-direction: space-between;
  align-items: flex-start;
  overflow-y: auto;
}

.user-message,
.chatbot-message {
  position: relative;
  margin: 7.5px 0 0 20px;
  padding: 15px;
  border-radius: 12px;
  max-width: 90%;
}

.message {
  padding-top: 5px;
}

.user-message {
  background-color: $secondary-color;
  color: $primary-color;
}

.chatbot-message {
  background-color: $accent-color;
  margin-bottom: 10px;
}

.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: #3f72af transparent;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: white;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: white;
}
.scrollable-container::-webkit-scrollbar-corner {
  background-color: white;
}
