@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$heading-font: "Roboto", sans-serif;
$ui-font: "Oxygen", sans-serif;
$content-font: "Poppins", sans-serif;

$primary-color: #c0eb6a;
$secondary-color: #485550;
$background-color: #f4f6f0;
$transparent-color: #ffffff;
$heading-color: #1b1b1b;
$accent-color: #ffffff;
