@import "constants";

.not-available {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $background-color;
}

.not-available h1 {
  font-size: 30px;
  font-family: $heading-font;
  text-align: center;
  font-weight: 700;
  color: $heading-color;
  overflow: hidden;
}

.mindmap-container {
  height: 100%;
  position: relative;
  flex: 1;
}

.node-details-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
}

.node-details-container {
  height: 100%;
  width: 25%;
}

.react-flow__node {
  border: 2px solid $secondary-color;
  padding: 10px;
  border-radius: 10px;
}

.react-flow__node.selected {
  border: 4px solid $secondary-color;
}

.react-flow__edge-path {
  stroke: $primary-color;
  stroke-width: 4;
}

.word-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
}
