@import "constants";

.mindmap-container {
  height: 100%;
  position: relative;
  flex: 1;
  border: 1px solid $secondary-color;
  border-radius: 5px;
}

.node-details-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.root-node-selector-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.node-details-container {
  height: 100%;
  width: 25%;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  margin-right: 2.5px;
  margin-left: 2.5px;
}

.react-flow__node {
  border: 2px solid $secondary-color;
  padding: 10px;
  border-radius: 10px;
}

.react-flow__node.selected {
  border: 4px solid $secondary-color;
  background-color: $primary-color;
}

.react-flow__edge-path {
  stroke: $primary-color;
  stroke-width: 4;
}

.word-cloud {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-cloud svg {
  padding: 20px;
  width: 90%;
  height: 300px;
}

.sliderContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: ew-resize;
}

.slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.sliderHandle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 30px;
  min-width: 5px;
  background-color: $primary-color;
  cursor: ew-resize;
}
